* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, helvetica, 'sans', serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 275px;
}

h1, h3 {
    color: #f3f3f3;
}

h3 {
    margin-left: 24px;
    width: fit-content;
}

.highlight {
    background: Highlight;
    color: HighlightText;
}


.clock {
    width:120px;
    height:120px;
    border-radius:50%;
    margin:auto;
    position:absolute;
    right:0; bottom:30px; left:0;
    background:#b97705;
    box-shadow: 0 10px 20px rgba(185, 119, 5,0.2), inset 0 3px 0 rgba(255, 255, 255 , 0.1), inset 0 -4px 0 rgba(185, 119, 5,0.1), 0 2px 5px rgba(185, 119, 5,0.2);
}

.numbers, clockwise {
    width:100%;
    height:100%;
    border-radius:50%;
}

.numbers ul {
    list-style:none;
}

.numbers ul li {
    position:absolute;
    width:1.5em;
    height:1.5em;
    text-align:center;
    line-height:1.5em;
    font-size:1.3em;
    color:#434343;
}

.numbers ul li:first-child {
    top:0;
    left:50%;
    margin-left:-0.75em;
}
.numbers ul li:nth-child(2){
    top:50%;
    right:0;
    margin-top:-0.75em;
}
.numbers ul li:nth-child(3){
    left:50%;
    bottom:0;
    margin-left:-0.75em;
}
.numbers ul li:last-child{
    top:50%;
    left:0;
    margin-top:-0.75em;
}

.clockwise .center, .support {
    position:absolute;
    width:10px;
    height:10px;
    border-radius:50%;
    background: radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
    background: -moz-radial-gradient(center center, circle,#ffffff, #837874 97%, #b4b2aa 100%);
    background: -webkit-radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
    background-position:50% -12px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.clockwise .center {
    left:50%; margin-left:-5px;
    top:50%; margin-top:-5px;
    z-index:5;
}

.support {
    margin:auto;
    top:-25px; right:0; bottom:0; left:0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4), 0 -1px 2px rgba(0,0,0,0.3);
}

.support::before {
    content: '';
    width: 3px;
    height: 64px;
    background: #a9a4a4;
    position: absolute;
    z-index: -1;
    transform: rotate(36deg);
    transform-origin: 50% 0%;
    top: 10px;
    left: 1px;
    background: linear-gradient(left, #f3f3f3, #fff);
    box-shadow: 4px 3px 3px rgba(0,0,0,0.2), inset 1px 0 4px rgba(0,0,0,0.2);
}
.support::after {
    content: '';
    width: 3px;
    height: 64px;
    background: #a9a4a4;
    position: absolute;
    z-index: -1;
    transform: rotate(-36deg);
    transform-origin: 50% 0%;
    top: 10px;
    left: 5px;
    background: linear-gradient(left, #f3f3f3, #fff);
    box-shadow: -2px 3px 3px rgba(0,0,0,0.2), inset 1px 0 4px rgba(0,0,0,0.2);
}

#onOffButton
{
    display: none;
}

label
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #921208;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

label:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #dcc3c3;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.2s ease width, 0.2s ease height;
}

label:hover:before
{
    width: 26px;
    height: 26px;

}

label:active
{
    transform: translateY(-50%) scale(0.9);
}

#tick_mark
{
    position: absolute;
    top: -15px;
    right: 0;
    left: -3px;
    width: 38px;
    height: 38px;
    margin: 0 auto;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 5px;
    height: 16px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px)
}

#tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 69%;
    height: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px)
}

#onOffButton:checked + label
{
    background-color: #085d0c;
}

#onOffButton:checked + label:before
{
    width: 0;
    height: 0;
}

#onOffButton:checked + label #tick_mark:before, #onOffButton:checked + label #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}

#title {
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#tutorial {
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 80%;
}
#tutorial > * {
    margin-top: 12px;
}


#clickMessageText {
    display: flex;
    flex-direction: row;
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 0.6;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 0.6;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.scroll-btn {
    display: block;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    cursor: default;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 23px;
    margin-left: 10px;
    top: -6px
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 65%;
    width: 3px;
    height: 4px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}
